@page
@using Microsoft.AspNetCore.Authentication
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div>
    <strong>id_token</strong>
    <span>@await HttpContext.GetTokenAsync("id_token")</span>
    <strong>access_token</strong>
    <span>@await HttpContext.GetTokenAsync("access_token")</span>
</div>

@foreach (var claim in User.Claims)
{
    <div>
        <strong>@claim.Type : </strong>
        <span>@claim.Value</span>
    </div>

}
